<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.jizhang.mapper.JzBudgetMapper">

    <select id="getBudgetPage" resultType="com.youlai.boot.jizhang.model.vo.BudgetPageVO">
        SELECT
            t1.id,
            t1.ledger_id,
            t1.month,
            t1.category_id,
            t2.name AS category_name,
            t1.amount
        FROM jz_budgets t1
            LEFT JOIN jz_categories t2 ON t2.id = t1.category_id AND t2.is_deleted = 0
        WHERE t1.is_deleted = 0
        <if test="queryParams.userId != null">
            AND t1.user_id = #{queryParams.userId}
        </if>
        <if test="queryParams.ledgerId != null">
            AND t1.ledger_id = #{queryParams.ledgerId}
        </if>
        <if test="queryParams.month != null and queryParams.month.size > 0">
            AND t1.month BETWEEN
            <foreach item="m" collection="queryParams.month" open="'" separator="' AND '" close="'">
                ${m}
            </foreach>
        </if>
        <if test="queryParams.categoryId != null">
            AND t1.category_id = #{queryParams.categoryId}
        </if>
        ORDER BY t1.month DESC, t1.id ASC
    </select>

</mapper>
